* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("./image.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --header-height: min-content;
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 80px;
  height: var(--header-height);
  height: min-content;
  background-color: #d3d3d3;
  border-bottom: 5px solid black;
}
header > div:first-child {
  text-decoration: underline;
}
ul {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
li {
  list-style: none;
  font-size: 1.5rem;
  color: #5c5555;
  cursor: pointer;
}
li:hover {
  color: #5c80a3;
}
#content {
  display: flex;
  /* width: min(75vw, 400px); */
  padding: 30px;
  background-color: rgba(211, 211, 211, 0.7);
  border-radius: 10px;
  margin: 50px auto;
  gap: 20px;
}
#content > div {
  width: 300px;
  height: 455px;
  background-color: rgba(114, 8, 0, 0.9);
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
form > div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
form > h1 {
  color: #720800;
}
button {
  background-color: rgba(114, 8, 0, 0.9);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 10px;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 20px;
}
input[pattern]:not(:placeholder-shown):not(:focus):invalid + span::before {
  content: "❌";
  color: red;
}
input[pattern]:not(:placeholder-shown):invalid {
  border: 1px solid red;
  box-shadow: 1px 2px 2px rgb(238, 174, 174);
}
input[pattern]:not(:placeholder-shown):valid + span::before {
  content: "✔️";
  color: green;
}
input[pattern]:not(:placeholder-shown):valid {
  border: 1px solid green;
}
input:focus {
  outline: none;
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(188, 188, 223);
}
input[pattern]:invalid:focus:not(:placeholder-shown) {
  border: 1px solid red;
  border-radius: 5px;
}
input[pattern]:hover,
input:focus {
  background-color: #eee;
}
form>p:last-of-type>span {
  color: green;
  cursor: pointer;
}