* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("./image.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --header-height: min-content;
  font-family: sans-serif;
}
#content {
  display: flex;
  padding: 30px;
  background-color: rgba(211, 211, 211, 0.7);
  border-radius: 10px;
  margin: 50px auto;
  gap: 20px;
}
#content > div {
  width: 300px;
  height: 455px;
  background-color: rgba(114, 8, 0, 0.9);
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
form > div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
form > h1 {
  color: #720800;
}
button {
  background-color: rgba(114, 8, 0, 0.9);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 10px;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 20px;
  margin-top: auto;
}
input, textarea, select {
  outline: none;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(202,202,202, 0.1);
}
input:hover, textarea:hover, select:hover {
  background-color: rgba(146,66,48, 0.1);
}
input:focus, textarea:focus, select:focus {
  outline: none;
  border: 1px solid #b96a1f;
  box-shadow: 0 0 1px black;
  background-color: rgba(0, 0, 0, 0.1);
}
input:invalid:not(:placeholder-shown), textarea:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}
input:valid:not(:placeholder-shown), textarea:valid:not(:placeholder-shown) {
  border: 1px solid green;
}
textarea {
  resize: none;
  height: 60px;
}